<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.something.ihfaz.imperial2metric">

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MainActivity" />
        <activity android:name=".IMActivity" />
        <activity android:name=".MIActivity" />
        <activity android:name=".LengthIM" />
        <activity android:name=".LengthMI" />
        <activity android:name=".VolumeIM" />
        <activity android:name=".VolumeMI" />
        <activity android:name=".MassIM" />
        <activity android:name=".MassMI" />
        <activity android:name=".TempIM" />
        <activity android:name=".TempMI" />

    </application>

</manifest>